img{
    width: 20%;
    /* height: 100%; */
}
.main_container{
    /* border: 5px solid red; */
    width: 80vw;
    height: 80vh;
    margin: auto;
}
.albumes-container{
    /* border: 5px solid green; */
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 0% ;
    overflow: scroll;
}
.campo{
width: 100%;
height: 5vh;
/* background-color: aqua; */
/* border: 5px solid greenyellow; */
}
.casilla{
    /* border: 4px solid red; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    color: aliceblue;
    text-align: center;
    font-size: x-large;
}
.estrellaAmarilla{
    /* border: 1px solid green; */

    justify-self: end;
    z-index: 1;
}
.img-reproducir{
    width: 100%;
    height: 4vh;
    object-fit: contain;
    margin: auto;
}
.nombre-cancion , .nombre-album{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.columnas{
    /* border: 5px solid blue; */
    width: 20%;
    height: 160%;
    display: flex;
    flex-direction: column;
  
}
.columnas .contenedor-datos{
    /* border: 5px solid rgb(0, 166, 255); */
    display: flex;
    flex-direction: column;
    height: 100%;
}
.columna1{
    width: 10%;
}
.columna2 , .columna3{
    width: 30%;
}
.columna4 , .columna5{
    width: 10%;
   
}

@media(max-width:1377px){
    .main_container{
        /* border: 5px solid red; */
        width: 100%;
        height: 80vh;
        margin: auto;
    }
    .estrellaAmarilla{
        width: 15%;
        height: 35%;
       }
    
}
@media(max-width:850px){
    .estrellaAmarilla{
        width: 15%;
        height: 35%;
       }
       .casilla{
        font-size: large;
       }
}
@media(max-width:500px){
   .estrellaAmarilla{
    width: 15%;
    height: 15%;
   }
   .casilla{
    font-size: small;
   }
}


