.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 8% 35%;
    height: 90vh;
    grid-template-areas: 
    "navbar header"
    "navbar albumesConReproductor"
    "contenedorAlbumDescripcion albumesConReproductor";
    gap: 1rem; 
    padding: 1rem;
    background-color: #f2f2f2;
}

.home{
    background-color: #c7c7c7;
}

/* DEBAJO DEL NAV */
.albumSonando{
    width: 31.2rem;
    position: relative;
}

.contenedorAlbumDescripcion{
    margin-top: 4rem;
    margin-left: 1rem;
    grid-area: contenedorAlbumDescripcion;
}

.albumText{
    padding-right: 4rem;
}


.albumes {
    grid-area: albumesConReproductor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 138rem;
    height: 70vh;
    overflow-x: scroll;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    grid-template-rows: auto auto; 
}

.imgAlbumes{
    width: 100%; 
    height: auto;
    object-fit: cover; 
    position: relative;
}

.imgContainer {
    position: relative;
    width: 100%;
}

.fav{
    position: absolute;
    top: 10px;
    right: 10px;
    height: 4rem; 
    width: 4rem; 
}

.favAlbumSonando{
    position: absolute;
    top: 10px;
    right: 6.5rem;
    height: 4rem; 
    width: 4rem; 
}

.audio{
    width: 70rem;
    margin-left: 20%;
}
