.container {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 8% 35%;
    height: 90vh;
    grid-template-areas: 
    "navbar header"
    "navbar albumesConReproductor"
    "contenedorAlbumDescripcion albumesConReproductor";
    gap: 1rem; 
    padding: 1rem;
    background-color: #f2f2f2;
}

/* DEBAJO DEL NAV */
.albumSonando{
    width: 31.2rem;
}

.contenedorAlbumDescripcion{
    margin-top: 4rem;
    margin-left: 1rem;
    grid-area: contenedorAlbumDescripcion;
}

.albumes {
    grid-area: albumesConReproductor;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 138rem;
    height: 70vh;
    overflow-x: scroll;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    grid-template-rows: auto auto; /* Esto asegura que las filas se ajusten automáticamente al contenido */
}

.albumText{
    padding-right: 4rem;
}

.imgAlbumes{
    width: 95%; 
    height: 90%;
    object-fit: cover; 
}

.audio{
    width: 70rem;
    margin-left: 20%;
}