.listaFavorita {
    height: 70vh;
    overflow-x: scroll;
    padding: 2rem 0;
    margin: 0 1rem; 
}
.table-list{
    margin: 0 !important;
    width: 92%;
}


.cancionFavorita table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

.cancionFavorita table th,
.cancionFavorita table td {
    padding: 25px 50px;
    border: 1px solid black;
}

.cancionFavorita table th {
    background-color: #22333b;
    padding: 25px;
    font-size: 1.5rem;
}

.imgAlbumesLista {
    width: 15rem;
}
.imgReproduccion{
    width: 4.25rem;
}
.textoTabla {
    font-size: 1.75rem;
    font-weight: 700;
}
.favList{
    position: absolute;
    top: -12px;
    right: -2rem;
    height: 2.5rem;
    width: 2.5rem;
}
.home{
    background-color: #c7c7c7;
}
.imgContainerLista {
    position: relative;
    width: 100%;
}
@media (max-width: 450px){
    .listaFavorita{
        margin-left: 18rem;}
    }
    
@media (max-width: 1290px) {

    .listaFavorita {
        margin-left: 5rem;
        width: 115rem; 
    }
    .table-list{
        width: 100%;
    }
    
    

}
@media (max-width: 1205px) {

    .listaFavorita {
        margin-left: 12rem;
        height: auto;
        overflow-x: auto; 
        width: 90rem; 
    }
    .table-list{
        width: 100%;
    }
}
