.listaFavorita {
    height: 70vh;
    overflow-x: scroll;
    padding: 2rem 0;
    margin: 0 1rem; 
}

@media (max-width: 1260px){
    .listaFavorita{
        padding: 0;
        width: 80rem;
    }
}

@media (max-width: 1205px){
    .listaFavorita{
        width: 70rem;
        margin-left: 0rem;
    }
}

@media (max-width: 1110px){
    .listaFavorita{
        width: 105rem;
        margin-left: 0rem;
    }
}


.cancionFavorita table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

.cancionFavorita table th,
.cancionFavorita table td {
    padding: 25px 50px;
    border: 1px solid black;
}

.cancionFavorita table th {
    background-color: #22333b;
    padding: 25px;
    font-size: 1.5rem;
}

.imgAlbumesLista {
    width: 15rem;
}
.imgReproduccion{
    width: 4.25rem;
}
.textoTabla {
    font-size: 1.75rem;
    font-weight: 700;
}
.favList{
    position: absolute;
    top: -12px;
    right: -2rem;
    height: 2.5rem;
    width: 2.5rem;
}
.home{
    background-color: #c7c7c7;
}


.imgContainerLista {
    position: relative;
    width: 100%;
}
.audioLista{
        top: 1em;
        width: 92%;
        margin: 2.6em 0;
        border: 2px solid #ccc;
        border-radius: 10px;
        background-color: #f8f8f8;
}
@media screen and (min-width: 1250px) {

    .listaFavorita {
        height: 70vh;
        overflow-x: auto;
        padding: 2rem 0;
        margin: 0 1rem; 
 
        
    }
    
}
@media screen and (max-width: 1250px) {

    .contenedorAlbumDescripcionLista {

       width: 105rem;
    }
    .footerLista{
        margin-top: 15rem;
        width: 105rem;
    }

    .imgContainerLista{
        width: auto;
    }
    .audioLista{
        width: 105rem;
    }
    .albumTextLista{
        text-align: center;
        margin-top: 8%;
    font-size: 8px;
    }

}
@media screen and (max-width: 768px) {

    .cancionFavorita table {
        font-size: 14px;
    }

}
