.listaFavorita {
    height: 70vh;
    overflow-x: scroll;
    padding: 2rem 0;
    margin: 0 1rem; 
}

@media (max-width: 1260px){
    .listaFavorita{
        padding: 0;
        width: 80rem;
    }
}

@media (max-width: 1205px){
    .listaFavorita{
        width: 70rem;
        margin-left: 0rem;
    }
}

@media (max-width: 1110px){
    .listaFavorita{
        width: 60rem;
        margin-left: 0rem;
    }
}

@media (max-width: 700px){
    .listaFavorita{
        height: 58vh;
        margin-left: 0px;
        width: 60rem;
    }
}

@media (max-width: 590px){
    .listaFavorita{
        height: 85vh;
        margin-left: 0px;
        width: 70rem;
    }
}

@media (max-width: 450px){
    .listaFavorita{
        height: 47vh;
        margin-left: 0px;
        width: 67rem;
    }
}

.cancionFavorita table {
    max-width: 100%;
    border-collapse: collapse;
    margin-top: 1.25rem;
}

.cancionFavorita table th,
.cancionFavorita table td {
    padding: 25px 50px;
    border: 1px solid black;
}

.cancionFavorita table th {
    background-color: #22333b;
    padding: 25px;
    font-size: 1.5rem;

}

.imgAlbumesLista {
    width: 15rem;
}
.imgReproduccion{
    width: 4.25rem;
}
.textoTabla {
    font-size: 1.75rem;
    font-weight: 700;
}
.favList{
    position: absolute;
    top: -12px;
    right: -2rem;
    height: 2.5rem;
    width: 2.5rem;
}
.home{
    background-color: #c7c7c7;
}
