.login {
	border: 2px solid red;
	width: 100%;
	display: flex;
	flex-direction: column;
	/* Agrega esta línea para mostrar los elementos en una columna */
	justify-content: center;
	align-items: center;
	height: 85vh;
	/* Agrega esto para ocupar todo el viewport vertical */
}
.login >div{
	border: 2px solid rgb(0, 255, 115);
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	color: aliceblue;
}
input{
	text-align: center;
	height: 2rem;
}





.buttonLog a {
	color: black;
}

.linkRegister {
	margin-top: 1rem;
	font-size: 2rem;
	color: white;
}

.linkPremium {
	margin-bottom: 1rem;
	font-size: 1.5rem;
	color: white;
}

@media (max-width:900px) {
	.login>div{
		width: 60%;
	}
	
} 

@media (max-width:800px) {
	.login>div{
		width: 70%;
	}
	
} 
@media (max-width:400px) {
	.login>div{
		width: 100%;
	}
	.buttonLog {
		height: 2rem;
		
	}
	.buttonLog a{
		font-size: medium; 
	}
	
	
} 