@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
    background-attachment: fixed;
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0 auto;
}

a{
    font-size: 1.1rem;
}

p{
    font-size: 1.2rem;
    font-weight: 600;
}

/* HEADER */
.headerIndex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 7rem;
    grid-area: header;
}

.title{
    display: flex;
    justify-content: left;
    font-size: 3rem;
    margin-left: 8rem;
}

.usuario{
    padding: 2rem;
    font-size: 1.2rem;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: column;
}

.fotoUsuario{
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
}


/* NAVBAR */
.navbar {
    margin-right: auto;
    grid-area: navbar;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}

.navbar li {
    border: 1px solid #333;
    padding: 3.4rem;
}

.navbar li a {
    font-size: 1.5rem;
    margin-right: 15rem;
}

.navbar a {
    text-decoration: none;
    color: black;
}
li:hover
{
    background-color: rgb(69, 129, 127)
}

/* Estilos para el footer */
.footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
	
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.participants {
    margin-bottom: 20px;
}

.participants h3 {
    margin-bottom: 10px;
}

.participants ul {
    list-style: none;
    padding-left: 0;
}

.participants li {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-nav {
	margin-left: 24rem;
    flex: 1;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0;
}

.footer-nav li {
    margin-bottom: 5px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}
/* estilo para las imagenes */
img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.link{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 26px;
    text-decoration: none;
}
.botones{
    align-self: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    max-width: 100%;
    align-items: flex-start;
}
.botones button{
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: lighter;
    font-size: 26px;
    margin: 15px;
    padding: 1%;
    border-top: 1px solid rgb(130, 128, 128);
    justify-content: space-around;
    background-color: white;
    height: 60px;
    width: 300px;
}