.favo-album
{
    display: flex;
    position: absolute;
    top: 5px; 
    right: 10px;
    width: 10%;
    height: 5vh;
    object-fit: cover;
}
.audio
{
    top: 1em;
    width: 95%;
    margin: 2em 0;
}
.misalbums{
    background-color: #c7c7c7;

}