* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.btn {
    background-color: black;
    border: 1px solid gray;
    color: aliceblue;
    width: 6rem;
    height: 4rem;
    margin: 0 5rem;
}
.btn:hover {
 box-shadow: 0px 0px 5px white;
 cursor: pointer;
}
.btn a{
    color: white;
    text-decoration: none;
}
.button {
    background-color: #c6ac8f;
    height: 5rem;
    border-radius: 10px;
    padding: 1rem;
}
.button a {
  
    text-decoration: none;
}

.button:hover {
    background-color: #c0986b;
    height: 5rem;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0px 0px 20px #c0986b;
    cursor: pointer;
}
body {
    background-color: #f2f2f2;
}




.form-contenedor {
    /* border: 5px solid white;  */
    height: 80vh;
    display: flex;
    margin: auto;
}

.form-contenedor form {
    /* border: 5px solid white; */

    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}


@media(max-width:1475px) {
    .form-contenedor form {
        width: 70%;
        align-items: center;

    }
}

@media(max-width:1051px) {
    .form-contenedor form {
        width: 100%;
        align-items: center;

    }
}

.form-contenedor form>p {
    /* border: 5px solid white; */
    color: #f2f2f2;
    width: 50%;
    text-align: center;
    font-size: large;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.form-contenedor form p>input {
    /* border: 5px solid rgb(255, 0, 0); */
    text-align: center;
    width: 100%;
    min-width: 100px;
    font-size: medium;

}

.contenedor-btn {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 20px;
}



@media(max-width:750px) {

    .form-contenedor form>p {
        width: 90%;

    }

    .button a {
        font-size: medium;
    }
}

@media(max-width:550px) {

    .botones {
        display: flex;
        flex-direction: column;
        /* border: 2px solid red; */
        width: 70%;
    }
    .btn{
        width: 100%;
        margin: auto;
        margin: 1rem 0;
    }
    .contenedor-btn {
        display: flex;
        flex-direction: column;
    }

  

 
    .form-contenedor form p{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .form-contenedor form p input{
        width: 100%;
        text-align: center;
    }
    
}