*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.usuario{
    border: 2px solid red;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;

}
.usuario .img-usuario{
    width: auto;
    height: 100%;
}
.usuario .img-usuario img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.form-contenedor{
    border: 2px solid rgb(0, 13, 255);
    height: 80vh;
display: flex;
margin: auto;
}
.form-contenedor form{
    width: 100%;
    border: 4px solid rgb(0, 255, 13);
    display: flex;
    flex-direction: column;
    height: 100%;
align-items: center;
    justify-content:space-evenly;
    margin: auto;

}
.form-contenedor form>p{
    border: 2px solid rgb(0, 249, 79);
    text-align: center;
    font-size: x-large;
    
}
.opciones{
    border: 2px solid violet;
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.opciones>div{
    margin :0 10px; 
}
.opciones a{
    font-size: larger;
}
.buttons{
    width: 40%;
    display: flex;
border: 2px solid red;
 
    justify-content: space-around;
}
.buttons button{
    width: 10rem;
    height: 5rem;
}












footer {
    background-color: #333;
    color: white;
display: flex;
flex-direction: column;
	width: 100%;
}

.footer-content {
 display: flex;
 border: 2px solid red;
  width: 40%;
  margin: 20px auto;

  justify-content: space-around;
}

.participants {
border: 2px solid rgb(9, 246, 64);
}

.participants h3 {
    margin-bottom: 10px;
}

.participants ul {
    list-style: none;
    padding-left: 0;
}

.participants li {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-nav {
	border: 2px solid red;
 
}

.footer-nav ul {
    list-style: none;
    padding-left: 0;
}

.footer-nav li {
    margin-bottom: 5px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}