@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html{
	font-size: 62.5%;
}

body{
    background-attachment: fixed;
	overflow-x: hidden;
	min-height: 100vh;
	margin: 0 auto;
}

/* Vista Login */
.login{
    display: flex;
    flex-direction: column; /* Agrega esta línea para mostrar los elementos en una columna */
    justify-content: center;
    align-items: center;
    height: 85vh; /* Agrega esto para ocupar todo el viewport vertical */
    background-color: #f2f2f2;
}

label{
	font-size: 1.7rem;
}

input{
	height: 4rem;
	width: 30rem;
	margin-top: 0.5rem;
	margin-bottom: 1.6rem;
}

.buttonLog{
	height: 3rem;
	width: 30rem;
}

.linkRegister{
	margin-top: 1rem;
	font-size: 1.5rem;
}


/* Estilos para el footer */
.footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
	
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
	display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.participants {
    margin-bottom: 20px;
}

.participants h3 {
    margin-bottom: 10px;
}

.participants ul {
    list-style: none;
    padding-left: 0;
}

.participants li {
    margin-bottom: 5px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    font-size: 14px;
}

.footer-nav {
	margin-left: 24rem;
    flex: 1;
}

.footer-nav ul {
    list-style: none;
    padding-left: 0;
}

.footer-nav li {
    margin-bottom: 5px;
}

.footer-nav a {
    color: white;
    text-decoration: none;
}