<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/lista.css">
    <title>Mis Canciones Favoritas</title>
</head>

<body>
    <section class="container">
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/buscar.html">Buscar</a></li>
                <li><a href="../views/misalbums.html">Mis albums</a></li>
                <li class="home"><a href="#">Mis favoritas</a></li>
                
            </ul>
            
        </nav>
     
        <header class="headerIndex">
            <h1 class="title">Mis Canciones Favoritas</h1>
            <section class="usuario">
                <h2><a class="link" href="../views/perfil.html">Usuario</a></h2>
                <a class="link" href="../views/login.html">Cerrar Sesion</a>
            </section>
            <img src="../assets/foto-usuario.webp" alt="foto del usuario" class="fotoUsuario">
        </header>

        <section class="contenedorAlbumDescripcion contenedorAlbumDescripcionLista">
            <div class="imgContainerLista">
                <img src="../assets/fooFightersAlbum.jpg" alt="" class="albumSonando">
                <img src="../assets/estrellaAmarilla.png" alt="" class="favAlbumSonando">
            </div>
            <p class="albumText albumTextLista">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et inventore
                vel voluptatibus. Quod eligendi distinctio sunt corporis consequatur sed quis, earum veritatis maiores
                reprehenderit aut, esse voluptatum doloribus placeat architecto!</p>
        </section>
        <main>
            <section class="listaFavorita">
                <div class="cancionFavorita ">

                    <table>
                        <tr>
                            <th></th>
                            <th>Canción</th>
                            <th>Álbum</th>
                            <th>Duración</th>
                            <th>Reproducciones</th>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Livin' on a Prayer</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Slippery When Wet</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:09</td>
                            <td class="textoTabla">5500</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Sweet Child o' Mine</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Appetite for Destruction</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">5:55</td>
                            <td class="textoTabla">6700</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Don't Stop Believin'</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Escape</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:10</td>
                            <td class="textoTabla">4800</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Every Breath You Take</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Synchronicity</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:13</td>
                            <td class="textoTabla">6200</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Eye of the Tiger</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Eye of the Tiger</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:04</td>
                            <td class="textoTabla">5100</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Beat It</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Thriller</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:18</td>
                            <td class="textoTabla">5400</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Jump</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">1984</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:02</td>
                            <td class="textoTabla">4200</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Come on Eileen</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Too-Rye-Ay</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:09</td>
                            <td class="textoTabla">4900</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Don't You (Forget About Me)</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">The Breakfast Club Soundtrack</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">4:23</td>
                            <td class="textoTabla">5900</td>
                        </tr>
                        <tr>
                            <td>
                                <img src="../assets/play.png" alt="Reproducir la canción" class="imgReproduccion">
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">Another Brick in the Wall</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td>
                                <div class="imgContainer">
                                    <p class="textoTabla">The Wall</p>
                                    <img src="../assets/estrellaAmarilla.png" alt="" class="favList">
                                </div>
                            </td>
                            <td class="textoTabla">3:59</td>
                            <td class="textoTabla">5100</td>
                        </tr>



                    </table>
                </div>
            </section>
            
        
            <audio controls class="audioLista">
                <source src="mi_audio.mp3" type="audio/mpeg">
                Tu navegador no soporta el elemento de audio.
            </audio>
        </main>
    </section>

    <footer class="footer footerLista">
        <div class="footer-content">
            <div class="participants">
                <h3>Participantes del Proyecto</h3>
                <ul>
                    <li>Diego Ramos // Santiago Wascoff</li>
                    <li>Ezequiel Mendoza // Elvia Medina</li>
                    <li>Mora Castelli Garaycochea</li>
                </ul>
            </div>
            <nav class="footer-nav">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>

</html>