<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/inicio.css">
    <title>Document</title>
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <div class="menu">
                    <button>HOME</button>
                    <button>BUSCAR</button>
                    <button>MIS ALBUMS</button>
                    <button>MIS FAVORITOS</button>
                </div>
                <div class="info-cancion">
                    <div class="img-ilustrativa"><img src="../assets/musica.webp" alt=""></div>
                    <div class="descripcion"><span> aca va a una descripcion bonita Lorem 
                        ipsum dolor sit amet consectetur, adipisicing elit. 
                        Excepturi animi laudantium dicta corrupti, unde sint
                         perspiciatis alias repellendus pariatur reprehenderit modi 
                         ipsum nulla quis, tempore maiores quas enim aperiam odio.</span>
                        </div>
                </div>
            </nav>
        </header>
        <main>
            <div class="titulo">
                <div class="nombre">
                    <h1>SPOTYLAM</h1>
                </div>
                <div class="usuario">
                    <div class="nombre-usuario"> 
                        <div><h3>nombre de usuario</h3></div>
                        <div><h5><a href="login.html">iniciar sesion</a></h5></div>
                    </div>
                    <div class="img-usuario"><img src="../assets/foto-usuario.webp" alt=""></div>
                </div>
            </div>
            <div class="lista-canciones">
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion1.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion2.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion3.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion4.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion5.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion6.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion7.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion8.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion9.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion10.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion20.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion1.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion13.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion1.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion15.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion16.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion17.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion18.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion19.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion20.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion21.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion22.jpg" alt=""></div>
                <div class="canciones"><div class="estrella">btn</div><img src="../assets/canciones/cancion23.jpg" alt=""></div>
            </div>
            <div class="reproduccion">
                <div class="barra-img">
                    <img src="../assets/barra-de-reproduccion.png" alt="">
                </div>
            </div>
        </main>
    </div>




    <footer class="footer">
        <div class="footer-content">
            <div class="participants">
                <h3>Participantes del Proyecto</h3>
                <ul>
                    <li>Nombre Participante 1  //  Nombre Participante 2</li>
                    <li>Nombre Participante 3  //  Nombre Participante 4</li>
                </ul>
            </div>
            <nav class="footer-nav">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>