<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    <section class="login">
        <div>
            <label>Usuario</label> <br>
            <input type="text" placeholder=" Name">
        </div>
        <div>
            <label>Contraseña</label> <br>
            <input type="text" placeholder=" ********">
        </div>
        <button class="buttonLog">Iniciar sesión</button>
        <a href="register.html" class="linkRegister">Registrarme</a>
    </section>


    <footer class="footer">
        <div class="footer-content">
            <div class="participants">
                <h3>Participantes del Proyecto</h3>
                <ul>
                    <li>Nombre Participante 1  //  Nombre Participante 2</li>
                    <li>Nombre Participante 3  //  Nombre Participante 4</li>
                </ul>
            </div>
            <nav class="footer-nav">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>