<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/misalbums.css">
    <title>MisAlbums</title>
</head>
<body>
    <section class="contenedor">
        <nav class="navbar">
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../views/buscar.html">Buscar</a></li>
                <li class="misalbums"><a href="#">Mis albums</a></li>
                <li><a href="../views/favoritas.html">Mis favoritas</a></li>
            </ul>
        </nav>
        
        <header class="headerIndex">
            <h1 class="title">Mis Albums Favoritos</h1>
            <section class="usuario">
                <h2><a class="link" href="../views/perfil.html">Usuario</a></h2>
                <a class="link" href="../views/login.html">Cerrar Sesion</a>
            </section>
            <img src="../assets/foto-usuario.webp" alt="foto del usuario" class="fotoUsuario">
        </header>

        <section class="contenedor-album-sonando">
            <div class="imgContainer">
                <img src="../assets/canciones/cancion18.jpg" alt="" class="img-sonando">
                <img src="../assets/estrella1.png" alt="" class="favo-sonando">
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error alias nesciunt ratione consectetur animi, repellat tenetur quos quasi dolorem cum temporibus qui voluptatum, obcaecati sint voluptatem fuga molestiae rerum quod.</p>
        </section>

        <main>
            <section>
                <div class="albums">
                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/queenAlbum.jpeg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/Roxette.jpg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/colplay.jpg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/beatlesAlbum.jpg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>

                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/canciones/cancion18.jpg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/canciones/cancion15.jpg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>
                    <div class="box-img">
                        <a href="favoritas.html">
                            <figure>
                                <img src="../assets/fooFightersAlbum.jpg" alt="" class="img-album">
                                <img src="../assets/estrella1.png" alt="" class="favo-album">
                            </figure>
                        </a>
                    </div>
                </div>
            </section>
            <audio controls class="audio">
                <source src="mi_audio.mp3" type="audio/mpeg">
            </audio>
        </main>
    </section>
    <footer class="footer">
        <div class="footer-content">
            <div class="participants">
                <h3>Participantes del Proyecto</h3>
                <ul>
                    <li>Nombre Participante 1  //  Nombre Participante 2</li>
                    <li>Nombre Participante 3  //  Nombre Participante 4</li>
                </ul>
            </div>
            <nav class="footer-nav">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>