<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/perfil.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="titulo">
            <div class="usuario">
                <div class="nombre-usuario"> 
                    <div><h2>nombre de usuario</h2></div>
                    <div><h5><a href="login.html">iniciar sesion</a></h5></div>
                </div>
                <div class="img-usuario"><img src="../assets/foto-usuario.webp" alt=""></div>
            </div>
        </div>
    </nav>
    <main>
        <div class="form-contenedor">
            <form action="">
                <p><label for="nombre">nombre</label>
                <input id="nombre" type="text" placeholder="ingrese su nombre"></p>
               <p> <label for="contraceña">contraceña</label>
                <input id="contraceña" type="password" placeholder="ingrese una contraceña"></p>
                <p><label for="repetir-contraceña">repetir-contraceña</label>
                <input id="repetir-contraceña" type="password" placeholder="ingrese nuevamente contraceña"></p>
                <p><label for="fecha-nacimiento">fecha de nacimiento</label>
                <input id="fecha-nacimiento" type="date"></p>
                <p><label for="email">email</label>
                <input id="email" type="email" placeholder="ingrese email"></p>
                <div class="opciones">
                <div class="premium"><a href="premium.html">premium</a></div>
                <div class="elimina-usuario"><a href="inicio.html">elimina usuario</a></div></div>
                <div class="buttons">
                    <button><a href="inicio.html">Volver al home</a></button>
                    <button>guardar</button>
                </div>
            </form>
        </div>
      

    </main>
    
    <footer class="footer">
        <div class="footer-content">
            <div class="participants">
                <h3>Participantes del Proyecto</h3>
                <ul>
                    <li>Nombre Participante 1  //  Nombre Participante 2</li>
                    <li>Nombre Participante 3  //  Nombre Participante 4</li>
                </ul>
            </div>
          
            <nav class="footer-nav">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>