<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="../css/main.css"> -->
    <link rel="stylesheet" href="../css/index1.css">
    <link rel="stylesheet" href="../css/premium.css">
    <title>Premium</title>
</head>

<body>
    <section class="contenedor">
        <section class="item1 caja header">
            <header class="header_container">
                <div class="header-titulo">
                    <h1>spotilam</h1>
                </div>
                <div class="header-perfil">
                    <div class="header-perfil_usuario">
                        <div class="usuario"><h3>usuario</h3></div>
                        <div class="Iniciar-sesion"><a href="../views/login.html">Iniciar sesion</a></div>
                    </div>
                    <div class="header-perfil_contenedor-img">
                        <a href="../views/perfil.html">  <img src="../assets/foto-usuario.webp" alt=""></a>
                    </div>
                </div>

            </header>
        </section>
        <section class="planes">
            <article class="item11">
                <img src="..\assets\LogosPremium\plan mensual.png" alt="planMensual">
                <h3>
                    Con este plan podra abonar mensualmente un precio fijo para su cuenta privada o para su cuenta
                    familiar tambien!
                    <br>
                    <h4>Hasta 6 cuotas sin interés.</h4>
                    <br>
                </h3>
                <h4>$1.330 ARS</h4>
                <input type="radio" name="plan">
                <br>
            </article>

            <article class="item2">
                <img src="..\assets\LogosPremium\plan anual.png" alt="planAnual">
                <h3>
                    Con este plan podra abonar anualmente un PLAN fijo para su cuenta privada o para su cuenta familiar
                    tambien!
                    <br>
                    <h4>Hasta 10 cuotas sin interés.</h4>
                    <br>
                </h3>
                <h4>$2.000 ARS</h4>
                <input type="radio" name="plan">
                <br>
            </article>

            <article class="item3">
                <img src="..\assets\LogosPremium\plan infinito.png" alt="planInfinito">
                <h3>
                    Con este plan podra abonar una unica vez en un precio fijo su cuenta privada o su cuenta familiar
                    tambien!
                    <br>
                    <h4>Hasta 12 cuotas sin interés.</h4>
                    <br>
                </h3>
                <h4>$8.000 ARS</h4>
                <input type="radio" name="plan">
                <br>
                <br>
            </article>
        </section>
        <div class="botones">
            <button class="btn"><a class="link" href="../index.html">Cancelar</a></button>
            <button class="btn"><a class="link" href="../views/pagar.html">Avanzar</a></button>
        </div>
        
        <section class="item5 caja footer">
            <footer class="footer_container">
                <div class="footer-content">
                    <div class="participants">
                        <h3>Participantes del Proyecto</h3>
                        <ul>
                            <li>Diego Ramos // Santiago Woscoff</li>
                            <li>Ezequiel Mendoza // Elvia Medina</li>
                            <li>Mora Castelli Garaycochea</li>
                        </ul>
                    </div>
                    <nav class="footer-nav">
                        <h3>Navegación</h3>
                        <ul>
                            <li><a href="#inicio">Inicio</a></li>
                            <li><a href="#servicios">Servicios</a></li>
                            <li><a href="#contacto">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="footer-bottom">
                    <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
                </div>
            </footer>
        </section>
    </section>


</body>

</html>