<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/loginRegister.css">
    <title>Document</title>
</head>
<body>
    <section>
        <form action="#" method="post" class="login">
            <div>
                <label>Usuario</label><br>
                <input type="text" placeholder=" Name">
            </div>
            <div>
                <label>Contraseña</label> <br>
                <input type="text" placeholder=" ********">
            </div>
            <div>
                <label>Repetir Contraseña</label> <br>
                <input type="text" placeholder=" ********">
            </div>
            <div>
                <label>Email</label> <br>
                <input type="email" placeholder=" example@email.com">
            </div>
            <div>
                <label>Fecha de Nacimiento</label> <br>
                <input type="text" placeholder=" 00/00/0000">
            </div>
            <button class="buttonLog">Registrarme</button>
            <a href="login.html" class="linkRegister">Iniciar Sesión</a>
            <a href="" class="linkPremium">Premium</a>
        </form>
    </section>


    <footer class="footer">
        <div class="footer-content">
            <div class="participants">
                <h3>Participantes del Proyecto</h3>
                <ul>
                    <li>Nombre Participante 1  //  Nombre Participante 2</li>
                    <li>Nombre Participante 3  //  Nombre Participante 4</li>
                </ul>
            </div>
            <nav class="footer-nav">
                <h3>Navegación</h3>
                <ul>
                    <li><a href="#inicio">Inicio</a></li>
                    <li><a href="#servicios">Servicios</a></li>
                    <li><a href="#contacto">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 Programacion Web 1. Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
</html>